<%- include('partials/header') %>
<div  class="container">
    <div class="jumbotron ">
        <div class="container">
            <h1 class="display-4 text-center font-weight-normal">All blogs</h1>
            <hr class="my-2">
            <p class="lead">
                <a class="btn btn-primary btn-md" href="/blog/create" role="link">Create new blog</a>
            </p>
        </div>
    </div>
<div class="row justify-content-between">
<% blogs.forEach((ele)=>{ %>
    <div class="card border-dark m-3 p-5 col-md-4">
        <div class="card-header text-center"><%= ele.title %></div>
        <div class="card-body p-0">
          <h5 class="card-title"><%= ele.category %></h5>
          <h5 class="card-title"><%= ele.createdAt.toString().substring(0,15) %></h5>
        </div>
        <div class="d-flex justify-content-center  p-2">
        <a href="/blog/<%= ele._id %>"><button  class="btn btn-md btn-outline-dark m-2"> View </button></a>
        <!--<button type="button" class="btn btn-outline-info btn-md m-2">Edit</button>-->
        </div>

      </div>
<% }) %>
</div>
</div>

<script src=" scripts/main.js"></script>
<%- include('partials/footer') %>

