<%- include ('partials/header')  %>
<div class="container">
<div class="alert alert-primary alert-dismissible  " style='display :none;z-index:11;width: 90%;position: absolute;' id="blog_success" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <strong>Blog created ...</strong>
</div>
<h4>Create your own blog</h4>
<form method="POST" action="/blog/create" name="myblog" class="p-4">
 
<div class = "form-group row justify-content-center ">
    <label class="col-md-1" for = "blog_title">Title</label>
    <input type = "text" class = "form-control col-md-5"  maxlength="30" name="blog_title" id = "blog_title" placeholder = "Enter Blog Title(max. 30)">
 </div>

  
<div class = "form-group row justify-content-center ">
    <label class="col-md-1" for = "blog_category">Category</label>
    <input type = "text" class = "form-control col-md-5" id = "blog_category" name="blog_category" placeholder = "Enter Blog Category">
 </div>

  
<div class = "form-group row justify-content-center">
    <label class="col-md-1" for = "blog_content">Content</label>
    <textarea  class="col-md-5 form-control" rows="5" name="blog_content"></textarea>
 </div>
 <div class="form-group row justify-content-center">
<input type="submit" value="create" id="create_blog" class="btn btn-md btn-success m-2">
<input type="reset" value="clear" class="btn btn-md btn-warning m-2">

</div>
</form>
</div>
<script src="/scripts/main.js"></script>
<%- include ('partials/footer') %>

